@import "palette";
/*Guide
1. Dark gray | 2. Off white | 3. green | 4. darker green | 5. Darkest green
*/

@mixin vertical-center($percent: 50%){
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

$fontstack: 'Open Sans' Helvetica, sans-serif;
$titlestack: 'Crete Round', Georgia, serif;
$transition: all 200ms ease-in-out;

html, body {
  height: 100%;
}

body {
  background-color: $color2;
  color: $textcolor;
  font-family: $fontstack;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $titlestack;
  font-weight: 700;
  font-size: 30px;
  color: $color5;
}

h2 {
  color: $color1;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px;
}

h3 {
  color: $light1;
  font-size: 14px;
  font-style: italic;
}

p {
  font-family: $fontstack;
  font-size: 16px;
  margin-bottom: 18px
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#header {
  color: $color5;
  margin: 0px;
  padding: 0px;
  background-color: $color1;
}

#chfmText {
  font-family: $titlestack;
  font-weight: 700;
  font-size: 2.2em;
  color: $color2;
  text-align: center;
  // text-shadow: $shadoweffect2;
}

.btn-success {
  background-color: $color3;
  border-color: $color5;
  margin-right: 10px;
  .icon {
    height: 14px;
    margin-right: 10px;
  }
  &:hover {
    background-color: $color5;
    border-color: $color5;
  }
  &:active {
    background-color: $color5;
    border-color: $color5;
  }
}

#diversityPop {
  $diameter: 50px;
  width: $diameter;
  height: $diameter;
  border-radius: $diameter / 2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  display: block;
  color: $color2;
  background-color: $color3;
  padding: 0px;
  @include vertical-center();
  div {
    margin-top: -$diameter/6;
  }
}

#slogan {
  font-family: $fontstack;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  color: $color3;
  margin: 0px;
}

#navbar {
  background-color: $color1;
  font-family: $fontstack;
  font-size: 17px;
  font-weight: 700;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  color: $color1;
  .navElement {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  a {
    text-decoration: none;
    color: $color2;
    &:visited {
      color: $color2;
    }
    &:hover {
      color: $color3;
    }
    &:active {
      color: $color5;
    }
  }
}

.hilight {
  background-color: $color3;
  height: 0px;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}

.popover {
  font-family: $fontstack;
  width: 900px;
  .popover-header {
    background-color: desaturate(darken($color2, 5%), 70%);
  }
  .popover-body {
    background-color: $color2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .arrow:after {
    border-top-color: $color2;
    border-bottom-color: desaturate(darken($color2, 5%), 70%);
  }
}

#content {
  padding: 15px 25px 15px;
  max-width: 840px;
  flex: 1 0 auto;
  .row {
    margin: 0px;
    padding: 0px;
  }
  div {
    padding: 10px 15px 0px;
  }
}

.pagecontent {
  a {
    color: $color1;
    transition: color 200ms;
    text-align: right;
    border-bottom: 2px solid $color4;
    box-shadow: inset 0 -6px 0 $color4;
    color: inherit;
    &:hover {
      background: $color4;
    }
  }
}

.subnav {
  font-size: 16px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $light1;
    &:visited {
      color: $light1;
    }
    &:hover {
      color: $color3;
    }
    &:active {
      color: $color5;
    }
  }
}

#footer {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 25px;
  margin-top: 25px;
  background-color: $dark2;
  color: $color1;
  flex-shrink: 0;
  a {
    text-decoration: underline;
    color: $color1;
    display: inline-block;
    margin-bottom: 8px;
    &:hover {
      color: $color3;
    }
    &:active {
      color: $color5;
    }
  }
}

#creditsBlock {
  position: relative;
  height: 18px;
  width: auto;
  padding: 0px;
  margin: 0px;
}

#creditsReveal {
  background-color: $dark2;
  height: inherit;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

#credits {
  padding: 0px;
  position: absolute;
  height: inherit;
  width: 100%;
  top: 0px;
  left: 0px;
}