---
---

@import 'skeleton';
@import '_palette';
@import '_typography';

::selection {
  background-color: lighten($accent, 20%);
}

html {
  background-color: $white;
  font-size: 10pt;
}

body {
  font-family: $fontstack;
  color: $typecolor;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $fontstack;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  border-left: solid 4px $accent;
  margin-left: 0.8rem;
  padding-left: 1.4rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  width: auto;
  padding: 0;
  padding-top: 1rem;
  margin-bottom: -2rem;
}

header {
  background: $accent;
  color: $white;
  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16rem;
    h1 {
      padding: 0;
      margin-bottom: 0 !important;
      font-size: 3.2rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 2rem;
      font-family: $fontstack;
    }
    span {
      font-size: 2rem;
      display: block;
      width: auto;
      // padding: 1rem 0 1rem;
      color: $dark-accent;
      font-style: italic;
    }
  }
}

@media (min-width: 550px) {
  header #title {
    height: 14rem;
    h1 {
    font-size: 5rem;
    letter-spacing: 8px;
    }
    span {
      font-size: 2.4rem;
    }
  }
}

.container {
  width: 100vw;
  max-width: 720px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

content {
  flex: 1 0 auto;
}

// utility classes
.center {
  display: block;
  text-align: center;
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}

.accent-text {
  color: $accent;
}

.icon {
  font-family: Icomoon;
}

// more specific stylings
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0;
}

#paper { // thanks CSS Tricks
  background: #fafafa;
  font-style: italic;
  display: flex;
  flex-direction: column;
  flex: 6;
  justify-content: space-around;
  align-items: center;
  height: auto;
  // margin-left: 2rem;
  // margin-right: 2rem;
  box-shadow:
    0 1px 2px rgba($black, 0.2);
  padding: 1.2rem 1.6rem;
  min-height: 6.8rem;
}

.arrow {
  font-size: 2.8rem;
  font-weight: bold;
  flex: 1;
  color: $light-black;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $black;
    border-color: $black;
  }
}

.quoted {
  margin-left: auto;
  text-align: right;
}

footer {
  // padding: 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 0.4rem;
  color: $light-black;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.2rem 0 1.8rem;
  div {
    flex: 1;
  }
  img {
    height: 30px;
    width: 30px;
  }
}