---
---

@import 'skeleton';
@import '_palette';
@import '_typography';

::selection {
  background-color: lighten($accent, 20%);
}

html {
  background-color: $white;
  font-size: 9pt;
}

body {
  font-family: $fontstack;
  color: $typecolor;
  display: flex-box;
  justify-content: center;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  border-left: solid 4px $accent;
  margin-left: 0.8rem;
  padding-left: 1.4rem;
}

#logo {
  // background-color: green;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  width: auto;
  padding: 0;
}

header {
  background: $accent;
  color: $white;
  padding: 2rem 0 0;
  h1 {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 10rem;
  }
  i {
    font-size: 1.6rem;
    display: block;
    width: auto;
    padding: 1rem 0 1rem;
    background-color: $dark-accent;
  }
}

.container {
  width: 100vw;
  max-width: 800px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

content {
  flex: 1 0 auto;
}

footer {
  padding: 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 2.6rem;
  color: $light-black;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  div {
    flex: 1;
  }
}

@media (max-width: 550px) {
  footer {
    margin-bottom: 0.8rem;
  }
}

// utility classes
.center {
  display: block;
  text-align: center;
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}


.accent-text {
  color: $accent;
}

// more specific stylings
#text-size {
  right: 30px;
  width: 60px;
  color: $white;
  position: fixed;
  top: 0;
  font-size: 18px;
  background-color: $accent;
  height: 36px;
  border: solid 3px $white;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba($black, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#text-size-down, #text-size-up {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: $white;
  line-height: 10px;
  padding: 10px;
  &:hover {
    color: $dark-accent;
  }
}

#text-size-down {
  font-size: 18px;
  padding-right: 3px;
}

#text-size-up {
  font-size: 24px;
  padding-left: 3px;
}

#testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0;
}

#paper { // thanks CSS Tricks
  background: #fafafa;
  font-style: italic;
  display: flex;
  flex-direction: column;
  flex: 16;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow:
    0 1px 2px rgba($black, 0.2);
  padding: 1.2rem 1.6rem;
  min-height: 6.8rem;
}

.arrow {
  font-size: 4.2rem;
  font-weight: bold;
  color: $light-black;
  line-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    // font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
  }
  &:hover {
    color: $black;
    border-color: $black;
  }
}

.quoted {
  // display: block;
  // width: 100%;
  margin-left: auto;
  text-align: right;
}

#footer-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: inherit;
  background: $light-black;
  color: $white;
  border-radius: 12%;
  height: 1.5rem;
  width: 1.5rem;
  img {
    width: 1.2rem;
    height: auto;
  }
}