<!DOCTYPE html>
<html lang="en">
<head>

  <!-- basic page stuff -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto:400,400i,600|M+PLUS+1p:500" rel="stylesheet" type="text/css">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- favicon -->
  <link rel="icon" href="{{ site.baseurl }}/assets/favicon/.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/favicon/site.webmanifest">

  <!-- custom styling -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/main.css">

</head>
<body>

  {{ content }}
  
</body>
</html>