---
layout: base
---

<div class="container">
  <content class="row">
    <div class="column" style="margin-top: 5%">
      {{ content }}
    </div>
  </content>

  <footer>
    <div style="text-align: left">friendly tech support</div>
    <div style="text-align: center; flex: 0.2;">
      <span id="footer-logo" style="margin-left: -1px">
        <img src="{{ site.baseurl }}/assets/images/radio.svg" />
      </span>
    </div>
    <div style="text-align: right">&copy; 2019 Finn James</div>
  </footer>
</div>