---
layout: base
---

<!-- <div id="text-size"></div> -->

<header class="center">
  <!-- <span id="logo">
    <img src="{{ site.baseurl }}/assets/images/radio.svg" />
  </span> -->
  <h1>radiolev<span class="black-text">it</span>y</h1>
  <i class="center">Friendly tech support for Macs</i>
</header>

<div class="container">
  <content class="row">
    <div class="column" style="margin-top: 5%">
      {{ content }}
    </div>
  </content>

  <footer>
    <div style="text-align: left">logo by Braja Omar Justico from the Noun Project</div>
    <div style="text-align: right">&copy; 2019 Finn James</div>
  </footer>
</div>